doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body 
        h1 #{title}
        div 
            form(action="/sign-up" method="POST")
                fieldset 
                    label(for="name") Name
                    input(type="text", name="name", placeholder="Name")
                fieldset
                    label(for="lastname") Lastname
                    input(type="text", name="lastname")
                fieldset 
                    label(for="username") Email
                    input(type="text", name="username", placeholder="Email")
                fieldset
                    label(for="password") Password
                    input(type="password", name="password", placeholder="Password")
                fieldset
                    label(for="confirmPassword") Confirm password
                    input(type="password", name="confirmPassword", placeholder="Confirm password")
                input(type="submit", value="Sign Up")
        if message
            error message#{message}
        if errors
            ul
                for error in errors
                    li!= error.msg